* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: 'Kanit', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
    /* font-family: 'Roboto Condensed', sans-serif; */
    /* font-family:  Arial, Helvetica, sans-serif;; */
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }
   .navbar {
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(62, 62, 59);
    color: tomato;
   }
   .nav-links a {
    color:tomato;
   }
   /* LOGO */
   .logo {
    font-size: 32px;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    font-size: 18px;
   }
   .nav-links a:hover {
    color:white;
    /* background-color: #f04e1c; */
    border: tomato;
    text-shadow: white;
    font-size: larger;
    /* text-decoration: underline;  */
    transition: 0.3s ease;
   }
   /* .menu li:hover {
    text-decoration: underline; 
    transition: 0.3s ease; }
      */
   .menu li {
    padding: 5px 14px;
   }
   /* DROPDOWN MENU */
   .services {
    position: relative; 
   }
   /* .dropdown {
    background-color: rgb(222, 126, 48);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT
    display: none;
    border-radius: 8px;
    top: 35px;
   }
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   .services:hover .dropdown {
    display: block;
   } */